@model Bootstrap.ViewModel.MainPage

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-md-6">
        <h1>TIY Sports</h1>
        <p>&hearts; For the students of the Iron Yard<p>
    </div>
    <div class="col-md-3 col-md-push-3">
        <img src="/Images/sports.jpg " alt="Sports Picture" class="img-circle img-responsive">
    </div>
</div>



<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Images/football.jpg" alt="Football Picture">
        <div class="text-center">
            <h3>Football</h3>
        </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
        <img src="/Images/baseball.jpg" alt="Baseball Picture">
            <div class="text-center">
                <h3>Baseball</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="thumbnail">
        <img src="/Images/basketball.jpg" alt="Basketball Picture">
        <div class="text-center">
            <h3>Basketball</h3>
        </div>
        </div>
    </div>
    

    <div class="col-md-3">
        <div class="thumbnail">
            <img src="/Images/quidditch.jpg" alt="Basketball Picture">
            <div class="text-center">
                <h3>Quidditch</h3>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-warning" role="alert">
            We've added some brand new features in version 2.0!
    Learn More
</div>

    
           
        

<div class="well">
    <div class="row">
        <div class="col-md-6">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Please log in to edit
            </div>
        <div class="col-md-6">
            <a class="btn btn-block btn-social">
              <i class="fa fa-facebook" aria-hidden="true">Facebook</i>
            </a>

            
            </div>
        </div>
</div>

<div class="container">
    
    <ul class="list-group">
        <li class="list-group-item active"><strong>Teams</strong> <span class="badge">317 teams</span></li>
       
        @foreach (var team in Model.ListOfTeams)
        {
        <li class="list-group-item">
            <div class="row">
                <div class="col-md-1"> 
                    <img src="/Images/dartboard.png" alt="Darts" class="img-thumbnail img-responsive">
                </div>
                <div class="col-md-10">
                    <strong>@team.Name</strong> 
                    <p>Bacon ipsum dolor amet tri-tip shankle chuck doner frankfurter tail fatback burgdoggen </p>
                </div>
                <div class="col-md-1">
                    <span class="badge">@team.NumberOfPlayers players</span>
                </div>
                </div>
        </li>
        }

        <li class="list-group-item disabled">
            <div class=" text-center">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li><a href="#">1</a></li>
                    <li class="active"><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>
          

        </li>
    </ul>
</div>
    

<div class="container">
    
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
                <h3 class="panel-title">Game Scores</h3>

            </div>
            <table class="table">
                <thead>
                    <tr>
                        <td><strong>#</strong></td> 
                        <td><strong>Home Team</strong></td> 
                        <td><strong>Away Team</strong></td> 
                        <td><strong>Score</strong></td> 
                   
                    </tr>
                </thead>
                <tbody>
                    

                    @foreach (var item in Model.GameRecords)
                    {
                        var homeQuery = Model.ListOfTeams.Where(w => w.Id == item.HomeTeamId).Select(s => s.Name);
                        var awayQuery = Model.ListOfTeams.Where(w => w.Id == item.AwayTeamId).Select(s => s.Name);
                        var queryTwo = "";
                        var queryThree = "";

                        foreach (var x in homeQuery)
                        {
                            queryTwo += x;
                        }

                        foreach (var y in awayQuery)
                        {
                            queryThree += y;
                        }

                    <tr class="success">
                        <td><strong>@item.Id</strong></td>
                        <td>@queryTwo</td>
                        <td>@queryThree</td>
                        <td>@item.Score</td>
                    </tr>
                    }
                        
                    @*<tr>
                        <td><strong>2</strong></td>
                        <td>St Pete Ping Ping Powerhouse</td>
                        <td>Philly Paddlers</td>
                        <td>18-12</td>
                        
                    </tr>
                    <tr>
                        <td><strong>4</strong></td>
                        <td>Orlando Golf Gang</td>
                        <td>Portland Putters</td>
                        <td>2-1</td>
                        
                    </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
